/* highlighter */
.highlighter {background:linear-gradient(to top, #ff5d0074 20%, transparent 60%);font-weight:700;}
.highlighter-c2 {border-bottom:2px dashed #dc1e1e}
u.c1 {text-decoration:none;padding-bottom:2px;border-bottom:1px solid #dc1e1e;color:#dc1e1e;}
u.c2 {text-decoration:none;padding-bottom:2px;border-bottom:1px solid #1e34dc;color:#1e34dc;}